<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }} <br />
  <form class="simple-form">
    Id: <input type="text" ng-model="category_id"/><br />
    Name: <input type="text" ng-model="category_name"/><br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="button" ng-click="read()" value="Get a category" />
    <input type="button" ng-click="getAll()" value="Get all categories" />
    <input type="button" ng-click="create()" value="Create a category" />
  </form>
  <pre>user = {{category | json }}</pre>
  <ul>
    <li ng-repeat="category in categories">
      <span>Name: {{ category.name }}</span> |
      <span>DateTime: {{ category.datetime | convertEpochToReadable }}</span> |
      <input type="button" ng-click="update()" value="Update this category" />
    </li>
  </ul>
</p>
