<div class="container-fluid main-frame">
    <div class="row title">
        <h1 class="text-center">Catalog</h1>
    </div>
    <div class="row">
        <div class="col-md-2 left-side">
            <div class="row" style="padding-top: 0;">
                <h2 class="text-center section">Catagories</h2>
                <ul class="section" style="list-style-type:none">
                    <li ng-repeat="category in categories">
                      <span><a ui-sref="category({ cId: category.id })">{{ category.name }}</a></span>
                    </li>
                </ul>
            </div>
            <div class="row edit">
                <a ui-sref="addCategory" class="btn btn-primary btn-lg">Add New Category</a>
            </div>
        </div>
        <div class="col-md-10" id="main-content">
            <div class="row" style="background-color: white;">
                <h2 class="text-center section">Latest Items</h2>
                <div class="row" ng-repeat="rowItem in items">
                  <div ng-repeat="item in rowItem">
                    <div class="col-md-4 thumbnail text-center">
                      <a ui-sref="item({cId: category.id, iId: item.id})">
                          <img ng-src="images/{{item.image.path}}" class="img-responsive">
                      </a>
                    </div>
                  </div>
                  <div class="row" style="background-color: white;">
                      <br>
                  </div>
                </div>
            </div>



        </div>
    </div>
</div>
