<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Item Title</label>
    <div class="col-sm-10">
        <input type="text" ng-model="item.title" class="form-control" id="title" placeholder="Item title Here"/>
    </div>
</div>
<div class="form-group">
    <label for="text" class="col-sm-2 control-label">Item Text</label>
    <div class="col-sm-10">
        <input type="text" ng-model="item.text" class="form-control" id="text" placeholder="Item text Here"/>
    </div>
</div>
<div class="form-group">
    <label for="text" class="col-sm-2 control-label">Item Image</label>
    <div class="col-sm-10">
        <input type="text" ng-model="item.image.path" class="form-control" id="path" placeholder="Item url Here"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
