<div class="alert alert-danger" ng-show="itemDeleted">
	Please log in to edit.
</div>
<div class="container">
    <div class="row title">
        <h2 class="col-md-9 text-center">Item {{item.title}}</h2>
        <div class="col-md-3 top-edit">
          <div class="edit">
            <a ng-show="authenticated" ui-sref="updateItem({ cId: category.id, iId: item.id })" class="btn btn-primary btn-sm">update</a>
            <a ng-show="authenticated" ng-click="deleteItem(item)" class="btn btn-danger btn-sm">delete</a>
          </div>
        </div>
    </div>
    <div class="row section">
        <div class="col-md-2">Category</div>
        <div class="col-md-10">{{category.name}}</div>
    </div>
    <div class="row section">
        <div class="col-md-2">Description</div>
        <div class="col-md-10">{{item.text}}</div>
    </div>
    <div class="row section-image">
        <img ng-src="images/{{item.image.path}}" class="img-responsive center-block" alt="{{item.image.title}}">
    </div>
</div>
