body {
    font-size: 18px;
    padding-top: 60px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.title {
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: medium;
}
.edit {
    height: 20px;
    /*text-align: center;*/
    /*bottom: 10px;*/
    font-size: 14px;
    /*margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;*/
}

#edit div {
  height: 20px;
}

.top-edit {
    height: 40px;
    display: flex;
    align-content:flex-end;
}
.main-frame {
    margin-left: 15px;
    margin-right: 15px;
}

#main-content {
    background-color: #F8F8F8;
    padding: 20px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
}
.left-side {
    padding-top: 20px;
}
.section {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    padding-left: 5px;
    padding-right: 5px;
}

.content {
    background-color: white;
    min-height: 400px;
    padding: 20px;
}

.thumbnail-box {
    padding: 5px;
}

.error {
    color: red;
}

.navbar-text {
    font-size: 14px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}
